html, body {
    margin: 0;
    height: 100%;
}


a { 
    text-decoration: none;
    color:white;
} 

ul { 
    list-style-type:none;
    display: flex; 
    gap:20px;
}

#icon{ 
    height: 45px;
    width: 45px;
    border-radius: 75%;

}

#thumbnail{ 
    width:360px;
    height:423px;

}

.header{ 

    justify-content: space-between;
    display: flex;
    background-color: black;
    padding-left:5px;
    padding-right:10px;
    padding-top: 10px;
    padding-bottom:5px;

}

.left,
.right{ 

    display: flex;
    align-items: center;

}

.footer{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:flex;
    background-color: black;
}

.footer .text{

    color:white;
} 

.top-page{ 
    justify-content: space-around;
    display: flex;
    padding-bottom: 30px;
    background-image: url(img/bleach-banner1.jpeg); 
    background-repeat: no-repeat;
    height:450px;
    background-size: auto;
    background-position: center;

} 
.top-page .left{ 

    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    margin-top:75px;
    margin-bottom:75px;
    color:white;
    width:300px;
    padding: 10px;
} 
.top-page .left .title{ 
    font-weight: bold;
    font-size: 24px;

}

